.mainblock {
    background: black;
    width: 620px;
    height: 810px;
    padding: 5px 0 5px 0;
}
.header {
    background: #6565b6;
    width: 610px;
    height: 150px;
    margin: 0 0 5px 5px;
}
.blocks {
    width: 610px;
    height: 150px;
    margin: 0 0 5px 5px;
    display: flex;
}
.block {
    background: #9d73e3;
    width: 200px;
    height: 150px;
}
.b {
    margin-left: 5px;
}
.footer {
    background: #a6a6e5;
    width: 610px;
    height: 500px;
    margin-left: 5px;
}